*{
    --background-color: #333333;
    --text-color: #ffffff;
    
  
    /* metrica size */
    --font-size-widescreen: 16px;
    --font-size-movil: 14px;
  
    --padding: 1em 1.618em;
    --margins-basic: 2rem 2rem;
    --margins-basic-mobil: 1rem 1rem;
  
    --border-radius: 0.5rem;
  
  
}

.preview {
    padding: 1rem 1rem;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.previewButton {
    margin: 0px;
    border: 0px;
    padding: 0px;
    background-color: transparent;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
}

    .previewButton svg {
        fill: #ffffff;
        width: 3rem;
        height: 3rem;
    }

.shareButton {
    display: flex;
    align-items: center;
    justify-content: center;
}

    .shareButton svg{
        width: 1.5rem;
        height: 1.5rem;
    }

.infolist {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 1rem;
    width: 100%;
}

    .infolist .line {
        width: 100%;
        position: relative;
        height: 0.5rem;
        background: rgba(255,255,255,0.95);
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

        .infolist .line > .active {
            height: 0.5rem;
            transition: all 0.35s ease-out;
        }

    .infolist p {
        font-weight: 100;
        margin: 0px;
        padding-top: 1rem;
        font-size: 0.75rem;
    }

@media (min-width: 400px) {
    .preview {
        flex-wrap: nowrap;
        align-items: center;
    }

        .infolist {
            padding-left: 1rem;
            padding-top: 0rem;
            flex-grow: 1;
        }

        .shareButton {
            padding-left: 1rem;
        }
}

@media (orientation: landscape) and (min-width: 650px) {
    .infolist{
        flex-direction: column;
    }

        .infolist p {
            padding-top: 0px;
            padding-bottom: 0.5rem;
        }
}


.popbox.opened {
    box-sizing: border-box;
}

.share-main {
    color: #333333;
    text-align: center;
}

    .share-main .redes-lista{
        list-style: none;
        padding: 0px;
    }

        .share-main .redes-lista li a{
            text-decoration: none;
            color: #333333;
            padding: var(--padding);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .share-main .redes-lista li a span {
            position: relative;
            margin-left: 1rem;
        }

        .share-main .redes-lista li a span:after{
            display: block;
            content: '';
            width: 100%;
            height: 1px;
            background: var(--background-color);
            position: absolute;
            left: 0;
            bottom: 0;
            transform: scaleX(0);
            transition: transform .3s ease;
            transform-origin: right center;
        }

        .share-main .redes-lista li a:hover span:after{
            transform: scaleX(1);
            transform-origin: left center;
        }