*{
  --background-color: #333333;
  --text-color: #ffffff;
  

  /* metrica size */
  --font-size-widescreen: 16px;
  --font-size-movil: 14px;

  --padding: 1em 1.618em;
  --margins-basic: 2rem 2rem;
  --margins-basic-mobil: 1rem 1rem;

  --border-radius: 0.5rem;


}

.preload .primaryLayout {
  opacity: 0;
}

.primaryLayout {
  position: relative;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

#portada img{
  box-shadow: 0px 2px 2.5px 0em rgba(0,0,0,0.5);
  transition: all 0.5s ease-in-out;
}

.preload #portada > img {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

@media (orientation: landscape) and (min-width: 650px) {
  .datos {
    text-align: left;
  }

  .datos h2 {
    font-weight: 100;
  }
}