*{
  --background-color: #333333;
  --text-color: #ffffff;
  

  /* metrica size */
  --font-size-widescreen: 16px;
  --font-size-movil: 14px;

  --padding: 1em 1.618em;
  --margins-basic: 2rem 2rem;
  --margins-basic-mobil: 1rem 1rem;

  --border-radius: 0.5rem;


}

.preload .secondLayout {
  opacity: 0;
}

.secondLayout {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.datos {
  background-color: rgba(0,0,0,0.75);
  box-shadow: 0px 2px 2.5px 0em rgba(0,0,0,0.5);
  text-align: center;
  line-height: 1.53;
  padding: 0px 1rem;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

  .datos h1, h2 {
    margin: 0px;
    margin-bottom: .5rem;
  }

  .datos h1 {
    margin-top: 0.5rem;
  }

.linksList{
  background-color: rgba(0,0,0,0.75);
  box-shadow: 0px 2px 2.5px 0em rgba(0,0,0,0.5);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

  .linksList ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    max-width: 100%;
    box-sizing: border-box;
  }

  .linksList ul li a {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .linkWeb a {
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
  }

    .linkWeb a .linkIcon{
      position: relative;
    }

    .linkWeb a:hover .linkIcon{
      text-shadow: 0px 0px 3px var(--bright, #2a788e);
    }

    .linkWeb a .linkIcon:after{
      display: block;
      content: '';
      width: 100%;
      height: 1px;
      background: currentColor;
      position: absolute;
      left: 0;
      bottom: -25%;
      transform: scaleX(0);
      transition: transform .3s ease;
      transform-origin: right center;
    }

    .linkWeb a:hover .linkIcon:after {
      transform: scaleX(1);
      transform-origin: left center;
      box-shadow: 0px 0px 3px var(--bright, #2a788e);
    }

    .linkWeb a:hover .linkIcon .icon{
      filter: drop-shadow(0px 0px 3px var(--bright, #2a788e)); 
    }

  .linkWeb a:hover {
    background: rgba(0,0,0,0.5);
  }

    .linkWeb a > .linkLogo {
      max-width: 60%;
    }

    .linkWeb a > .linkLogo > img {
      height: 2.5rem;
      width: auto;
      max-width: 75%;
    }

    .linkText {
      display: inline-block;
      vertical-align: middle;
    }

    .linkIcon span {
      font-size: 0.75rem;
      text-decoration: none;
    }

@media (orientation: landscape) and (min-width: 900px) {
  .datos {
    background-color: transparent;
    box-shadow: none;
    text-align: left;
    padding: 0px;
  }

  .datos h1,h2 span {
    display: inline;
    background: rgba(0,0,0,0.75);
    color: #fff;
    padding: 0.25em 1rem;
    box-shadow: 0px 2px 2.5px 0em rgba(0,0,0,0.5);
    border-radius: var(--border-radius);
  }

  .datos h2 {
    margin-top: 0.5rem;
  }

  .linksList {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
  }

}

.icon {
  width: 1rem;
  height: 1rem;
  fill: #ffffff;
  position: relative;
  top: 0.2rem;
  margin-left: 0.25rem;
}