*{
  --background-color: #333333;
  --text-color: #ffffff;
  

  /* metrica size */
  --font-size-widescreen: 16px;
  --font-size-movil: 14px;

  --padding: 1em 1.618em;
  --margins-basic: 2rem 2rem;
  --margins-basic-mobil: 1rem 1rem;

  --border-radius: 0.5rem;


}

html {
  background-color: var(--background-color);
  color: var(--text-color);
}

body {
  display: flex;
  font-size: var(--font-size-movil);
  font-family: 'Josefin Sans', sans-serif;
}

h2 {
  font-size: 1rem;
}

.singleLinkPage {
  width: 100%;
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: var(--margins-basic-mobil);
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
}

.disquera #portada img {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius);
}

/* Opciones a partir de tablet */
@media (min-width: 900px) {
  body {
    font-size: var(--font-size-widescreen);
  }
}


/*Pantallas en vertical*/
@media (orientation: landscape) and (min-width: 650px) {

  .singleLinkPage {
    flex-direction: row;
  }

  .secondLayout {
    margin-top: 0rem;
    padding-left: 1rem;
    box-sizing: border-box;
    width: 40%;
    z-index: 1000;
  }

  .primaryLayout {
    padding-right: 1rem;
    width: 60%;
    box-sizing: border-box;
  }

  .disquera {
    display: flex;
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }

  .disquera #portada {
    height: auto;
    margin: auto;
    max-width: 100%;
  }

  .disquera #portada img {
    display: block;
  }

  
  
}

/* Posible TV port */
@media (min-height: 2500px) and (orientation: landscape) {

  .singleLinkPage {
    max-height: 2500px;
    max-width: 4045px;
  }

}

/* Pantalla fullscreen */
@media (orientation: landscape) and (min-width: 1060px) {

  .secondLayout {
    width: 25%;
    justify-content: flex-end !important;
  }

  .secondLayout > .datos {
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 50%;
    box-sizing: border-box;
    padding-right: 2rem;
  }

  .primaryLayout {
    width: 50%;
    margin-left: 25%;
    padding-left: 1rem;
    box-sizing: border-box;
  }

  .disquera #portada img {
      height: 75vh;
      width: auto !important;
    }
  
}

/* Primer Layout */
.primaryLayout {
  position: relative;
}

  .disquera {
    width: 100%;
    line-height: 1;
    text-align: center;
  }

  .disquera #portada {
    max-width: 100%;
    height: auto;
  }


/* Segundo Layout */

.secondLayout {
  display: flex;
  flex-direction: column;
}

@media (min-height: 550px) and (orientation: landscape) {

  .secondLayout {
    justify-content: center;
  }

}

.linkIcon span {
  display: none;
}

@media (min-width: 400px) {
  .singleLinkPage {
    padding: var(--margins-basic);
  }

  .linkIcon span {
    display: inline-block;
  }
}

@media (orientation: landscape) and (max-aspect-ratio:3/2) and (min-width: 1800px) {
  .primaryLayout {
    margin-left: 0px;
    width: 100%;
  }

  .primaryLayout .disquera {
    position: absolute;
    width: calc(125% - 2rem);
  }
}